<div class="main carts-edit">
  <div class="container">
    <h1 class="form-heading">注文内容の変更</h1>
      <p>
        <% @items.each do |item| %>
          <label>商品名:</label>
            <%= item.name %><br>
          <label>価格:</label>
            <%= item.price %><label>円</label>
        <% end %>
      </p>
      <%= form_tag("/carts/#{@cart.id}/update",{multipart: true}) do %>
        <div class="form">
          <div class="form-body">
            <p>
              <label>注文予定個数:</label>
              <%= @cart.quantity %><label>個</label>
            </p>
            <label></label>
            <input type="number" name="quantity" min="0" placeholder="例:変更する個数を入力">
            <input type="submit" value="個数変更">
          </div>
        </div>
      <% end %>
  </div>
</div>