<div class="main items-index">
  <div class="container">
    <h1 class="form-heading">出品一覧</h1>
      <div class="item-index-box"> 
        <% @items.each do |item| %>
          <div class="index-item-top">
            <img src="<%= "/item_images/#{item.image_name}" %>">
            <div class="index-item-left">
              <label>商品名:</label><%= link_to(item.name, "/items/#{item.id}") %>
            </div>
            <div class="index-item-right">
              <label>価格:</label><%= link_to(item.price, "/items/#{item.id}") %><label>円</label>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>