<div class="main items-new">
  <div class="container">
    <h1 class="form-heading">商品を出品する</h1>
      <%= form_tag("/items/create") do %>
        <div class="form">
          <div class="form-body">
            <% @item.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
            <% end %>
            <label>商品名</label>
            <textarea name="name" placeholder="例:apple" required></textarea>
            <label>価格</label>
            <textarea name="price" placeholder="例:1000" required></textarea>
            <label>商品説明</label>
            <textarea name="content" placeholder="例:1箱に10個入り" required></textarea>
            <input type="submit" value="掲載">
          </div>
        </div>
      <% end %>
  </div>
</div>