<div class="main items-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
      <%= form_tag("/items/create") do %>
        <div class="form">
          <div class="form-body">
            <% @item.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
            <% end %>
            <textarea name="name"></textarea>
            <textarea name="price"></textarea>
            <textarea name="content"></textarea>
            <input type="submit" value="掲載">
          </div>
        </div>
      <% end %>
  </div>
</div>