<div class="main addresses-new">
  <div class="container">
    <h1 class="form-heading">注文確認画面</h1>
      <p>
        <form action="tests/pay" method="post">
          <script
            type="text/javascript"
            src="https://checkout.pay.jp/"
            class="payjp-button"
            data-key="pk_test_1a7952930243b7a108514314"
            data-submit-text="カードで支払う"
            data-partial="true">
          </script>
        </form>
      </p>
  </div>
</div>